  services:
    mongo:
      image: mongo
      container_name: mongo_container
      restart: always
      ports:
        - "27017:27017"
      volumes:
        - mongo_data:/data/db

         
    backend:
      build:
        context: ./backend
        dockerfile: Dockerfile
      container_name: backend_app
      restart: always
      ports:
       - "5000:3001"
      environment:
        MONGODB_URL: mongodb+srv://jeevanvishnu18_db_user:1rJPak2tYQPnimJy@cluster0.qnqc7ic.mongodb.net/vocabulary
        OPEN_ROUTER_API: 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
      depends_on: 
        mongo:
          condition: service_started


    frontend:
      build:
        context: ./my-app
        dockerfile: Dockerfile
      container_name: frontend_app
      restart: always
      ports:
        - "5173:5173"
      depends_on:
        backend:
          condition: service_started


  volumes: 
   mongo_data:
        