name: vocabulary-hub

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: |
          if [ -f "bun.lockb" ]; then
            echo "Installing with bun"
            bun install
          else
            npm install
          fi

      - name: Build project
        run: bun run build

      - name: Success message
        run: echo "Build completed!"
